<!-- <div>
  <h1 id="tt2">this is learning  </h1>
  <app-add-employee></app-add-employee>
  <p class="primary">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae ut consequatur eum iste doloribus, voluptatum, ex aliquam alias rerum nisi quisquam cupiditate dolores praesentium quia! Animi saepe doloribus ab soluta autem consequuntur magni beatae.
  </p>
  

  <app-sidebar></app-sidebar>
</div> -->
<router-outlet></router-outlet>
<!-- <app-sidebar></app-sidebar> -->
<!-- <router-outlet></router-outlet> -->

<!-- <app-homepage></app-homepage> -->
 <!-- <h1>hello</h1>
<app-data-binding></app-data-binding>  -->