<div class="glass-container">
    <div class="info-box">
      <h1>Fintech</h1>
      <img class="img-1" src="https://t3.ftcdn.net/jpg/04/31/23/36/240_F_431233664_uj4YhkAjuWMPKCPurTVMHB3sls3ZSL3C.jpg" alt="adasd">
      
        
        
      <button mat-button class="learn-more-button">Learn More</button>
    </div>
    <div class="login-box">
      <h2>Login</h2>
      <form>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Username</mat-label>
          <input matInput  required />
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password"  required />
        </mat-form-field>
        <div class="actions">
          <a href="#" class="forgot-link">Forgot Username?</a>
          <a href="#" class="forgot-link">Forgot Password?</a>
        </div>
        <button mat-raised-button class="login-button">Login</button>
      </form>
    </div>
  </div>
